billiard==3.6.3.0
celery==4.4.2
Django==2.2.13
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
django-allauth==0.42.0
django-sslserver==0.22
drf-yasg==1.17.0
gunicorn==20.0.4
model_mommy==1.5.1
pandas==1.1.0
psycopg2==2.8.5
pytest-django==3.8.0
pytest-xdist==1.32.0
pytz==2019.3
redis==3.4.1
sqlparse==0.3.1
scrapy==2.1.0